---
title: El Catalogo
---
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/en/home.html">
        <%= image_tag 'logo-main.png' %>
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="/en/home.html" class="navbar-item navbar-item__link underline">
            About us
          </a>
          <a href="/en/product.html" class="navbar-item navbar-item__link">
            Product
          </a>
          <a href="/en/contact.html"class="navbar-item navbar-item__link">
            Contact
          </a>
          <a href="../index.html"class="navbar-item navbar-item__linkTranslate">
            ES/<span>EN</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="main-carousel hero is-fullheight-with-navbar">

</div>

<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

<script type="text/javascript" src="../javascripts/db4.js"></script>

<script type="text/javascript" src="../javascripts/slick.min.js"></script>
