---
title: El Catalogo - Producto
---
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/en/home.html">
        <%= image_tag 'logo-main.png' %>
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="/en/home.html" class="navbar-item navbar-item__link">
            About us
          </a>
          <a href="/en/product.html" class="navbar-item navbar-item__link underline">
            Product
          </a>
          <a href="/en/contact.html"class="navbar-item navbar-item__link">
            Contact
          </a>
          <a href="../contacto.html"class="navbar-item navbar-item__linkTranslate">
            ES/<span>EN</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="hero is-link is-medium">
  <div class="hero-body">
    <div class="container product-about">
      <div class="columns">
        <div class="column">
          <div class="product-about__box">
            <%= image_tag 'global-icon.svg', class:'product-about__icon' %>
            <h2 class="product-about__title">Global</h2>
            <p class="product-about__description">Shipments worldwide</p>
          </div>
        </div>
        <div class="column">
          <div class="product-about__box">
            <%= image_tag 'reusable-icon.svg', class:'product-about__icon' %>
            <h2 class="product-about__title">Reusable</h2>
            <p class="product-about__description">Almost 50% of consumers pick reusable products</p>
          </div>
        </div>
        <div class="column">
          <div class="product-about__box">
            <%= image_tag 'vers-icon.svg', class:'product-about__icon' %>
            <h2 class="product-about__title">Versatile</h2>
            <p class="product-about__description">Improve the experience through the practicality of the product</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="columns">
    <div class="column column-cooler">
      <div class="column-cooler__container">
        <h1 class="column-cooler__title title">Cooler Bag</h1>
        <div class="column-cooler__carousel">

        </div>
        <p class="column-cooler__description">Reusable bag with customizable design and measurements.</p>
        <div class="columns">
          <div class="column">
            <div class="column-cooler__feature">
              <%= image_tag 'colors-icon.svg', class:'column-cooler__featureIcon' %>
              <p class="column-cooler__featureText">Color options</p>
            </div>
            <div class="column-cooler__feature">
              <%= image_tag 'cap-icon.svg', class:'column-cooler__featureIcon' %>
              <p class="column-cooler__featureText">Capacity up to 15kg</p>
            </div>
          </div>
          <div class="column">
            <div class="column-cooler__feature">
              <%= image_tag 'custom-icon.svg', class:'column-cooler__featureIcon' %>
              <p class="column-cooler__featureText">Printing options</p>
            </div>
            <div class="column-cooler__feature">
              <%= image_tag 'custom-icon.svg', class:'column-cooler__featureIcon' %>
              <p class="column-cooler__featureText">Customizable measures</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column column-bag">
      <div class="column-bag__container">
        <h1 class="column-bag__title title">Reusable Bag</h1>
        <div class="column-cooler__carousel-2">

        </div>
        <p class="column-bag__description">Reusable bag with customizable design and measurements.</p>
        <div class="columns">
          <div class="column">
            <div class="column-bag__feature">
              <%= image_tag 'colors-icon.svg', class:'column-bag__featureIcon' %>
              <p class="column-bag__featureText">Color options</p>
            </div>
            <div class="column-bag__feature">
              <%= image_tag 'cap-icon.svg', class:'column-bag__featureIcon' %>
              <p class="column-bag__featureText">Capacity up to 15kg</p>
            </div>
          </div>
          <div class="column">
            <div class="column-bag__feature">
              <%= image_tag 'custom-icon.svg', class:'column-bag__featureIcon' %>
              <p class="column-bag__featureText">Printing options</p>
            </div>
            <div class="column-bag__feature">
              <%= image_tag 'custom-icon.svg', class:'column-bag__featureIcon' %>
              <p class="column-bag__featureText">Customizable measures</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-link is-medium">
  <div class="hero-body">
    <div class="container product-about">
      <div class="columns">
        <div class="column">
          <div class="product-about__box">
            <%= image_tag 'perma-icon.svg', class:'product-about__icon' %>
            <h2 class="product-about__title">Brand permanence</h2>
            <p class="product-about__description">Yourbrand will bea easily distributed and will remain with the consumer for a longer time thanks to its reusable nature</p>
          </div>
        </div>
        <div class="column">
          <div class="product-about__box">
            <%= image_tag 'transport-icon.svg', class:'product-about__icon' %>
            <h2 class="product-about__title">Easy transport and storage</h2>
            <p class="product-about__description">Its dimensions allow an easy and light transportation, as well as the optimization of spaces</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-plydex is-large plydex">
  <div class="hero-body">
      <div class="container has-text-centered">
        <h3 class="title plydex-title">
          <%= image_tag 'plydex-icon.svg', class:'plydex__icon' %>, the new material developed to deliver a better cost-benefit than the actual products in the market.
        </h3>
      </div>
    </div>
</section>
<section class="reusableBags">
  <div class="container">
    <h1 class="product-title title">Ecological bag</h1>
    <div class="columns">
      <div class="column">
        <%= image_tag 'bag-icon.svg', class:'reusableBags__icon' %>
        <p class="reusableBags__title">Reusable bag</p>
        <p class="reusableBags__subtitle">Average lifespan: 6 months</p>
      </div>
      <div class="column">
        <%= image_tag 'equal-icon.svg', class:'reusableBags__icon' %>
      </div>
      <div class="column">
        <%= image_tag '170-icon.svg', class:'reusableBags__icon' %>
        <p class="reusableBags__title">Plastic bags</p>
        <p class="reusableBags__subtitle">150 years to decompose</p>
      </div>
    </div>
  </div>
</section>
<section class="presents">
  <div class="columns">
    <div class="column presents__smallColumn is-one-quarter">
      <%= image_tag 'ribbon-icon@2x.png', class:'presents__icon' %>
      <%= image_tag 'present-img@2x.png', class:'presents__icon' %>
      <%= image_tag 'paper-img@2x.png', class:'presents__icon' %>
      <h1 class="title presents__vs">VS</h1>
    </div>
    <div class="column presents__bigColumn is-three-quarters">
      <h1 class="product-title title">Ecological giftbag</h1>
      <%= image_tag 'gift-img@2x.png', class:'presents__presentBag' %>
      <div class="columns">
        <div class="column">
          <h1 class="presents__number">01.</h1>
          <h3 class="presents__title">Higher profit margin</h3>
          <p class="presents__description"><b>Savings</b> in the investment of materials, reduction of cost in wrapping.</p>
        </div>
        <div class="column">
          <h1 class="presents__number">02.</h1>
          <h3 class="presents__title">Faster wrapping</h3>
          <p class="presents__description">Speed up the wrapping procedure reducing the customer's waiting time, guaranteeing a <b>better service experience</b>.</p>
        </div>
        <div class="column">
          <h1 class="presents__number">03.</h1>
          <h3 class="presents__title">Innovative</h3>
          <p class="presents__description">Exceed the customer's expectations by delivering <b>unique products in the market</b>.</p>
        </div>
        <div class="column">
          <h1 class="presents__number">04.</h1>
          <h3 class="presents__title">Reusable</h3>
          <p class="presents__description">Environmental awareness is increasing. More than <b>50% of consumers prefer reusable products</b>.</p>
        </div>
        <div class="column">
          <h1 class="presents__number">05.</h1>
          <h3 class="presents__title">Brand permanence</h3>
          <p class="presents__description">By placing your brand on a reusable product, it will be <b>easily distributed</b>. Your brand will remain with the customer for a longer time.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="instagramContainer">
  <div class="container">
    <div class="columns">
      <div class="column instagramContainer-profile">
        <h1 class="title instagramContainer-title">Follow us on Instagram</h1>
        <a href="https://instawidget.net/v/user/elcatalogo.com.mx" id="link-14eabcbba8cde2cb5177601d1607aab7928322bfc8d330b88186f28645e2c86b">@elcatalogo.com.mx</a>
        <script src="https://instawidget.net/js/instawidget.js?u=14eabcbba8cde2cb5177601d1607aab7928322bfc8d330b88186f28645e2c86b&width=400px"></script>
      </div>
    </div>
  </div>
</section>

<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

<script type="text/javascript" src="../javascripts/db.js"></script>

<script type="text/javascript" src="../javascripts/db2.js"></script>

<script type="text/javascript" src="../javascripts/slick.min.js"></script>
