$primary-color: #00153f;
$secondary-color: #0dbf7a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: $primary-color;

  &-item__link {
    color: #fff;
    font-weight: 200;
    border-bottom: 2px solid $primary-color;

    &:hover {
      background-color: $primary-color;
      color: #fff;
      border-bottom: 2px solid $secondary-color;
    }
  }

  &-item__linkTranslate {
    color: #fff;
    font-size: 0.7rem;
    font-weight: 600;
    border-bottom: 2px solid $primary-color;

    span {
      font-weight: 800;
    }

    &:hover {
      background-color: $primary-color;
      color: #fff;
      border-bottom: 2px solid $secondary-color;
    }
  }
}

.hero {
  &-main {
    text-align: center;

    &__title {
      color: $primary-color;
      line-height: 4.25rem;
    }

    &__titleItalic {
      background-image: url("../images/underline-zig.svg");
      background-repeat: no-repeat;
      background-position-y: 3.3rem;
      padding-bottom: 0.7rem;
      margin-bottom: 0.7rem;
      font-style: italic;
      color: #fff;

      &-En {
        background-image: url("../images/underline-zig.svg");
        background-repeat: no-repeat;
        background-position-y: 3.3rem;
        padding-bottom: 1.7rem;
        margin-bottom: 0.7rem;
        font-style: italic;
        color: #fff;
      }
    }

    &__titleBold {
      background-image: url("../images/underline-ruler.svg");
      background-repeat: no-repeat;
      padding-right: 1.5rem;
      margin-right: 1.5rem;
      color: #fff;
      font-weight: 900;
      background-position-y: 0.5rem;
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  &-contact {
    text-align: center;
    &__logo {
      height: 5rem;
      margin-bottom: 5rem;
    }

    &__subtitle {
      color: $secondary-color !important;
      font-style: italic;
    }

    &__icon {
      display: inline;
      height: 2rem;
    }
  }
}

.footer {
  background-color: $primary-color;
  padding: 3rem;
  z-index: 99;
  position: relative;

  &-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;

    img {
      height: 5rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

.product-about {
  text-align: center;
  &__icon {
    height: 6rem;
    margin-bottom: 1rem;
  }

  &__title {
    color: #f5ea41;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__description {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.column-cooler {
  background: #f5ea41;
  text-align: center;
  padding: 3rem;

  &__container {
    width: 80%;
    margin: 0 auto;
  }

  &__carousel {
    max-width: 400px;
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
  }

  &__carousel-2 {
    max-width: 400px;
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
  }

  &__display {
    width: 400px;
  }

  &__title {
    color: $primary-color;
  }

  &__img {
    max-width: 400px;
    width: 100%;
  }

  &__description {
    color: #000;
    font-weight: 200;
    margin-bottom: 2rem;
  }

  &__feature {
    background: $secondary-color;
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    margin: 1rem 0;

    &Icon {
      height: 1rem;
      margin-right: 1rem;
    }

    &Text {
      font-size: 12px;
    }
  }
}

.column-bag {
  background: $secondary-color;
  text-align: center;
  padding: 3rem;

  &__container {
    width: 80%;
    margin: 0 auto;
  }

  &__title {
    color: $primary-color;
  }

  &__img {
    max-height: 400px;
  }

  &__description {
    color: #000;
    font-weight: 200;
    margin-bottom: 2rem;
  }

  &__feature {
    background: #f5ea41;
    display: flex;
    border-radius: 50px;
    margin: 1rem 0;
    height: 3rem;
    align-items: center;
    justify-content: space-evenly;

    &Icon {
      height: 1rem;
      margin-right: 1rem;
    }

    &Text {
      font-size: 12px;
    }
  }
}

.plydex {
  &__land {
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: end;
    flex-direction: column;
    padding-bottom: 5rem;
  }

  &__hero-body {
    padding: 0;
    height: calc(100vh - 3.25rem);
  }

  &-title {
    color: $primary-color;
    font-size: 2rem;
    font-style: italic;
    margin-top: 30rem;
  }

  &__icon {
    display: inline !important;
    height: 1.5rem;
  }

  &-carousel {
    max-width: 700px;
    margin: 0 auto;
  }
}

.giftBags {
  background: url("../images/giftBag.jpg");
  background-position: center !important;
  background-size: cover !important;
  height: 50rem;
  text-align: center;
  padding: 10rem 0;

  &-title {
    color: #fff !important;    
  }
}

.giftBags-cover {
  background-position: center !important;
  background-size: cover !important;
  height: 50rem;
  text-align: center;
  padding: 10rem 0;
}

.underline {
  border-bottom: 2px solid #fff;
}

.fa-whatsapp {
  color: #fff;
}

.reusableBags {
  background: url("../images/bolsas-bg@2x.png");
  background-position: center;
  background-size: cover;
  height: 50rem;
  text-align: center;
  padding: 10rem 0;

  &-cover {
    background-position: center !important;
    background-size: cover !important;
    height: 50rem;
    text-align: center;
    padding: 10rem 0;
  }

  &__icon {
    height: 5rem;
  }

  &__title {
    color: $primary-color;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__titleAlt {
    color: $primary-color;
    font-weight: 600;
    font-size: 2rem;
    font-style: italic;
    max-width: 600px;
    margin: 0 auto;
  }

  &__subtitle {
    color: $primary-color;
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

.presents {
  &__smallColumn {
    background: #fff;
    text-align: center;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-main {
      height: 100vh;
    }
  }

  &__bigColumn {
    background: #9ecae7;
    text-align: center;
    padding: 5rem;

    &-main {
      padding: 2.5rem;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  &__icon {
    margin: 2rem;
    width: 75%;
  }

  &__presentBag {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  &__number {
    background-color: #c55042;
    color: #fff;
    font-size: 2rem;
    width: 5rem;
    margin: 2rem auto;
    font-weight: 700;
  }

  &__title {
    color: #000;
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &__description {
    color: #000;
    font-weight: 200;
    b {
      font-weight: 600;
      font-style: italic;
    }
  }

  &__vs {
    background: #fff;
    border-radius: 100%;
    padding: 3rem;
    position: absolute;
    left: 18%;
  }
}

.product-title {
  color: #00153f;
  font-weight: 600;
  font-size: 2rem;
  font-style: italic;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.instagramContainer {
  text-align: center;
  padding: 5rem 0;
}

@media screen and (max-width: 768px) {
  .presents__vs {
    display: none;
  }

  .presents__smallColumn {
    display: flex;
    flex-direction: row;
    padding: 2rem;
  }

  .presents__presentBag {
    width: 80%;
  }

  .presents__smallColumn-main,
  .presents__bigColumn-main {
    height: auto;
  }
}

.description-main {
  display: none;
}

@media screen and (max-width: 1088px) {
  .presents__vs {
    padding: 2rem;
  }
}
