<!doctype html>
<html>
  <head>
    <meta name="description" content="Promocionales ecológicos, bolsas ecológicas y térmicas con tu diseño
    y a tu medida."/>
    <meta name="keywords" content="bolsas de tela ecologicas, bolsas ecologicas, bolsas publicitarias, bolsas reutilizables">
    <meta name="author" content="elcatalogo.com.mx">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "El Catalogo" %></title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,600,600i,700,900" rel="stylesheet">
    <%= stylesheet_link_tag "bulma", "site", "slick", "slick-theme" %>
    <%= javascript_include_tag "site" %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130095319-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'UA-130095319-1');
     </script>
  </head>
  <body class="has-navbar-fixed-top">
    <%= yield %>
    <footer class="footer">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-one-third is-one-third">
            <div class="footer-box">
              <p>elcatalogo.com.mx</p>
              <p>
                <a href="https://api.whatsapp.com/send?phone=5218119240912&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20sus%20productos,%20mi%20mail%20es:" class="botonWA" target="_blank">
                  <i class="fa fa-whatsapp my-boton"></i>
                </a>
                +52 (81) 82 48 66 70
              </p>
              <p>contacto@elcatalogo.com.mx</p>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="footer-box">
              <%= image_tag 'logo-icon.svg' %>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {

              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

      });
    </script>
  </body>
</html>
