---
title: El Catalogo - Contacto
---
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/index.html">
        <%= image_tag 'logo-main.png' %>
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="/index.html" class="navbar-item navbar-item__link">
            Nosotros
          </a>
          <a href="/producto.html" class="navbar-item navbar-item__link">
            Producto
          </a>
          <a href="/contacto.html"class="navbar-item navbar-item__link underline">
            Contacto
          </a>
          <a href="/en/contact.html"class="navbar-item navbar-item__linkTranslate">
            <span>ES</span>/EN
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="hero is-link is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container hero-contact">
      <%= image_tag 'logo-icon-alt.svg', class:'hero-contact__logo' %>
      <h1 class="hero-contact__title title">
        ¡Cotiza con nosotros!
      </h1>
      <h2 class="hero-contact__subtitle title">
        <%= image_tag 'message-icon.svg', class:'hero-contact__icon' %> 8119240912
      </h2>
      <div class="footer-box">
        <p>Dimensiones Variables</p>
        <p>Selección de colores</p>
        <p>Diseños personalizados</p>
      </div>
    </div>
  </div>
</section>
