---
title: El Catalogo - Producto
---
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/index.html">
        <%= image_tag 'logo-main.png' %>
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="/index.html" class="navbar-item navbar-item__link">
            Nosotros
          </a>
          <a href="/producto.html" class="navbar-item navbar-item__link underline">
            Producto
          </a>
          <a href="/contacto.html"class="navbar-item navbar-item__link">
            Contacto
          </a>
          <a href="/en/product.html"class="navbar-item navbar-item__linkTranslate">
            <span>ES</span>/EN
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="hero is-link is-medium">
  <div class="hero-body">
    <div class="container product-about">
      <div class="columns">
        <div class="column">
          <div class="product-about__box">
            <%= image_tag 'global-icon.svg', class:'product-about__icon' %>
            <h2 class="product-about__title">Global</h2>
            <p class="product-about__description">Envíos a todo el mundo</p>
          </div>
        </div>
        <div class="column">
          <div class="product-about__box">
            <%= image_tag 'reusable-icon.svg', class:'product-about__icon' %>
            <h2 class="product-about__title">Reusable</h2>
            <p class="product-about__description">Más del 50% de los consumidores prefiere productos reutilizables</p>
          </div>
        </div>
        <div class="column">
          <div class="product-about__box">
            <%= image_tag 'vers-icon.svg', class:'product-about__icon' %>
            <h2 class="product-about__title">Versátil</h2>
            <p class="product-about__description">Mejora la experiencia a través de la practicidad del producto</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="columns">
    <div class="column column-cooler">
      <div class="column-cooler__container">
        <h1 class="column-cooler__title title">Bolsa térmica</h1>
        <div class="column-cooler__carousel">

        </div>
        <p class="column-cooler__description">Bolsa reusable con diseño y medidas personalizables.</p>
        <div class="columns">
          <div class="column">
            <div class="column-cooler__feature">
              <%= image_tag 'colors-icon.svg', class:'column-cooler__featureIcon' %>
              <p class="column-cooler__featureText">Opciones de color</p>
            </div>
            <div class="column-cooler__feature">
              <%= image_tag 'cap-icon.svg', class:'column-cooler__featureIcon' %>
              <p class="column-cooler__featureText">Capacidad de hasta 15 kg</p>
            </div>
          </div>
          <div class="column">
            <div class="column-cooler__feature">
              <%= image_tag 'custom-icon.svg', class:'column-cooler__featureIcon' %>
              <p class="column-cooler__featureText">Opciones de impresión</p>
            </div>
            <div class="column-cooler__feature">
              <%= image_tag 'custom-icon.svg', class:'column-cooler__featureIcon' %>
              <p class="column-cooler__featureText">Medidas personalizables</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column column-bag">
      <div class="column-bag__container">
        <h1 class="column-bag__title title">Bolsa</h1>
        <div class="column-cooler__carousel-2">

        </div>
        <p class="column-bag__description">Bolsa reusable con diseño y medidas personalizables.</p>
        <div class="columns">
          <div class="column">
            <div class="column-bag__feature">
              <%= image_tag 'colors-icon.svg', class:'column-bag__featureIcon' %>
              <p class="column-bag__featureText">Opciones de color</p>
            </div>
            <div class="column-bag__feature">
              <%= image_tag 'cap-icon.svg', class:'column-bag__featureIcon' %>
              <p class="column-bag__featureText">Capacidad de hasta 15 kg</p>
            </div>
          </div>
          <div class="column">
            <div class="column-bag__feature">
              <%= image_tag 'custom-icon.svg', class:'column-bag__featureIcon' %>
              <p class="column-bag__featureText">Opciones de impresión</p>
            </div>
            <div class="column-bag__feature">
              <%= image_tag 'custom-icon.svg', class:'column-bag__featureIcon' %>
              <p class="column-bag__featureText">Medidas personalizables</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-link is-medium">
  <div class="hero-body">
    <div class="container product-about">
      <div class="columns">
        <div class="column">
          <div class="product-about__box">
            <%= image_tag 'perma-icon.svg', class:'product-about__icon' %>
            <h2 class="product-about__title">Permanencia de marca</h2>
            <p class="product-about__description">Tu marca se irá distribuyendo facilmente y permanecerá con el cliente por un tiempo más prolongado al ser reutilizable</p>
          </div>
        </div>
        <div class="column">
          <div class="product-about__box">
            <%= image_tag 'transport-icon.svg', class:'product-about__icon' %>
            <h2 class="product-about__title">Fácil transporte y almacenaje</h2>
            <p class="product-about__description">Sus dimensiones permiten una transportación fácil y ligera, así como la  optimización de espacios</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-plydex is-large plydex">
  <div class="hero-body">
      <div class="container has-text-centered">
        <h3 class="title plydex-title">
          Bolsa térmica de <%= image_tag 'plydex-icon.svg', class:'plydex__icon' %> un tecno-material único en el mercado. Morral materializado con un costo beneficio mayor a lo actual.
        </h3>
      </div>
    </div>
</section>
<section class="reusableBags">
  <div class="container">
    <h1 class="product-title title">Bolsa ecológica</h1>
    <div class="columns">
      <div class="column">
        <%= image_tag 'bag-icon.svg', class:'reusableBags__icon' %>
        <p class="reusableBags__title">Bolsa reusable</p>
        <p class="reusableBags__subtitle">Promedio de vida 6 meses</p>
      </div>
      <div class="column">
        <%= image_tag 'equal-icon.svg', class:'reusableBags__icon' %>
      </div>
      <div class="column">
        <%= image_tag '170-icon.svg', class:'reusableBags__icon' %>
        <p class="reusableBags__title">Bolsas de plástico</p>
        <p class="reusableBags__subtitle">150 años en degradarse</p>
      </div>
    </div>
  </div>
</section>
<section class="hero giftBags">
  <div class="container has-text-centered">
    <h3 class="title reusableBags__titleAlt giftBags-title">
      Bolsa de regalo reusable fabricada para generar mayor margen de ganancia y lograr permanencia de marca.
    </h3>
  </div>
</section>

<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

<script type="text/javascript" src="../javascripts/db.js"></script>

<script type="text/javascript" src="../javascripts/db2.js"></script>

<script type="text/javascript" src="../javascripts/slick.min.js"></script>
